* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	justify-content: space-around;
	color: #fff;
	display: flex;
	text-align: center;
	

	.word_search{
		
		display: inline-block;
		flex-direction: row;

	}

	.explore{
		
		display: flex;
		

		.bi-play-btn{
			font-size: 1.5rem;
		}

		.bi-search{
			font-size: 1.5rem;
		}
	}
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
}

.image_house_fill{
	font-size: 1.75rem;
	color: whitesmoke;
	background-color: transparent;
	border: transparent;
	padding-left: 1rem;
}

.image_people{
	font-size: 1.5rem;
	color: gray;
	background-color: transparent;
	border: transparent;
}

.image_square{
	font-size: 1.5rem;
	color: gray;
	background-color: transparent;
	border: transparent;
}

.image_square_fill{
	font-size: 2rem;
	color: #fff;
	background-color: #000;
	border: transparent;
}

.image_person{
	font-size: 1.5rem;
	color: gray;
	background-color: transparent;
	border: transparent;
	padding-right: 1rem;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 5rem;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
